<a href="https://colab.research.google.com/github/Pataweepr/applyML_vistec_2019/blob/master/hw7_hr_employee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[link text](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)

In [0]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

import pandas as pd

In [2]:
file_list = drive.ListFile({'q': "'1A4hVTSdT-5xpsieZ1MQI78eio1lSmTea' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: hr-employee-attrition-with-null.csv, id: 1VDImQ1SDFz3kG2hyUdUfGLOmEpDs7A16
title: HW2_Attrition_Prediction.pdf, id: 1oEY-4s7VFViEx7_RspTtVklKrQ6TsOT4

In [4]:
train_downloaded = drive.CreateFile({'id': '1VDImQ1SDFz3kG2hyUdUfGLOmEpDs7A16'})
train_downloaded.GetContentFile('CSV_FILE.csv')
hr_data = pd.read_csv('CSV_FILE.csv')
hr_data.head(10)

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,41.0,Yes,Travel_Rarely,NaN,NaN,1.0,NaN,Life Sciences,1.0,...,1.0,80.0,0.0,8.0,0.0,NaN,6.0,NaN,0.0,NaN
1,1,NaN,No,NaN,279.0,Research & Development,NaN,NaN,Life Sciences,1.0,...,4.0,NaN,1.0,10.0,NaN,3.0,10.0,NaN,NaN,7.0
2,2,37.0,Yes,NaN,1373.0,NaN,2.0,2.0,NaN,1.0,...,NaN,80.0,0.0,7.0,3.0,NaN,NaN,0.0,NaN,0.0
3,3,NaN,No,Travel_Frequently,1392.0,Research & Development,3.0,4.0,Life Sciences,NaN,...,3.0,NaN,NaN,8.0,3.0,NaN,8.0,NaN,3.0,0.0
4,4,27.0,No,Travel_Rarely,591.0,Research & Development,2.0,1.0,Medical,1.0,...,4.0,80.0,1.0,6.0,NaN,3.0,2.0,2.0,2.0,NaN
5,5,32.0,No,NaN,1005.0,Research & Development,2.0,2.0,NaN,1.0,...,3.0,80.0,0.0,NaN,2.0,NaN,7.0,7.0,NaN,NaN
6,6,NaN,No,NaN,NaN,Research & Development,3.0,3.0,Medical,NaN,...,NaN,80.0,3.0,12.0,3.0,NaN,1.0,NaN,0.0,0.0
7,7,30.0,No,Travel_Rarely,1358.0,Research & Development,24.0,1.0,Life Sciences,1.0,...,2.0,80.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,0.0
8,8,38.0,No,Travel_Frequently,216.0,Research & Development,NaN,3.0,Life Sciences,1.0,...,NaN,NaN,0.0,10.0,2.0,3.0,9.0,7.0,1.0,8.0
9,9,NaN,No,Travel_Rarely,1299.0,Research & Development,NaN,3.0,NaN,1.0,...,2.0,80.0,2.0,17.0,3.0,2.0,7.0,7.0,NaN,7.0